<main>
  <div class="header">
    <h1>IJVM Emulator</h1>
    <p>A stack based approach to emulating IJVM. By Jari Roossien</p>
  </div>
  <div class="input-output-container">
    <div>
      <app-ijvm-machine-form></app-ijvm-machine-form>
    </div>
    <div>
      <p>Input</p>
      <textarea [(ngModel)]="ijvmService.ijvmMachine.input"></textarea>
    </div>
    <div>
      <p>Output</p>
      <textarea id="output-field" disabled [value]="(ijvmService.ijvmMachine != null) ? ijvmService.ijvmMachine.output : ''"></textarea>
    </div>
  </div>
  <div class="operand-stack-wrapper">
    <app-operand-stack></app-operand-stack>
  </div>
</main>

<router-outlet />
